# fill without quotation mark
# Midtrans Setting
SERVER_KEY = "This is for Server Key Midtrans"
CLIENT_KEY = "This is for Clinet Key Midtrans"
# Database Setting
DATABASE_HOST="host database"
DATABASE_PORT="port database"
DATABASE_USER="user your database"
DATABASE_PASSWORD="password your database"
DATABASE_NAME="your name database"

# Redis Setting
REDIS_HOST="host reddis"
REDIS_PORT="port running reddis"

# Application Setting
PORT="port your app"
NODE_ENV="status development or production"